export HOSTS="ci.concourse.ci appdog.ci.cf-app.com buildpacks.ci.cf-app.com diego.ci.cf-app.com capi.ci.cf-app.com ci.shoetree.io?login_form"
export REFRESH_INTERVAL=30
export CS_GROUPS="{\"test\":{\"buildpacks.ci.cf-app.com\":{\"binary-builder\":[\"automated-builds\",\"manual-builds\"],\"brats\":null},\"diego.ci.cf-app.com\":{\"greenhouse\":null},\"capi.ci.cf-app.com\":null},\"greenhouse\":{\"diego.ci.cf-app.com\":{\"greenhouse\":null},\"main.bosh-ci.cf-app.com\":{\"windows-stemcells\":null,\"windows-agent-deps\":null}}}"
export CS_GROUPS="{\"test\":{\"buildpacks.ci.cf-app.com\":null,\"diego.ci.cf-app.com\":null,\"capi.ci.cf-app.com\":null},\"greenhouse\":{\"diego.ci.cf-app.com\":{\"greenhouse\":null},\"main.bosh-ci.cf-app.com\":{\"windows-stemcells\":null,\"windows-agent-deps\":null}}}"
