<div style="text-align:right;margin:1em;">
  <a href="?<%= collapso_toggle.join("&") %>">
    <% if ignore_groups %>
      Show Groups
    <% else %>
      Collapse Groups
    <% end %>
  </a>
</div>

<script src="/favico-0.3.10.min.js"></script>
<script>window.refresh_interval = <%= refresh_interval %></script>
<script src="/refresh.js"></script>
