<div style="text-align:right;margin:1em;">
<% if ignore_groups %>
  <a href="?">Show Groups</a></div>
<% else %>
  <a href="?ignore_groups">Collapse Groups</a></div>
<% end %>

<script>window.refresh_interval = <%= refresh_interval %></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/refresh.js"></script>
<script src="/scale_text.js"></script>
