<% Kilt.embed "views/header.ecr" %>

<% hosts.each do |host,statuses| %>
  <div><a href="/host/<%= host %>" style="text-decoration:none;"><%= host %></a></div>
  <% Kilt.embed "views/single_host.ecr" %>
<% end %>

<% Kilt.embed "views/bottom.ecr" %>
