<% Kilt.embed "views/header.ecr" %>

<% hosts.each do |host,statuses| %>
<div class="group">
  <a href="/host/<%= host %>"><%= host %></a>
  <div>
    <% Kilt.embed "views/single_host.ecr" %>
  </div>
</div>
<% end %>
