<div class="time"><%= Time.now %> (<span id="countdown"><%= refresh_interval %></span>)<a href="https://github.com/dgodd/concourse-summary" target="_blank" style="position:absolute;right:0;top:0;"><img src="/github.png" width="32" height="32"></a></div>

<% hosts.each do |host,statuses| %>
  <div><a href="/host/<%= host %>" style="text-decoration:none;"><%= host %></a></div>
  <% Kilt.embed "views/single_host.ecr" %>
<% end %>

<% Kilt.embed "views/bottom.ecr" %>
