<% Kilt.embed "views/header.ecr" %>

<div class="scalable">
<% Kilt.embed "views/single_host.ecr" %>

<% if giphy_src %>
<a id="giphy" class="outer" style="background-color:transparent;background-image:url('<%= giphy_src %>');background-size:cover;"></a>
<% end %>
</div>
