<!DOCTYPE html>
<html>
  <head>
    <title><%= Time.now %> | Concourse Summary</title>
    <link rel="icon" type="image/png" href="https://buildpacks.ci.cf-app.com/public/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://buildpacks.ci.cf-app.com/public/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="https://buildpacks.ci.cf-app.com/public/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://buildpacks.ci.cf-app.com/public/favicons/favicon-16x16.png" sizes="16x16">
    <style>
      body { margin:0; padding:0; font-family: monospace, sans-serif; font-size: 20px; line-height: 1.6em; text-align:center; background: #263748; color: #E6E7E8; }
      a { color: #E6E7E8; }
      .time { padding:0 8px; margin:0 0 16px 0; background: #1A252F; color: #E6E7E8; }
      .outer { display:inline-block; width: 200px; height: 120px; color: #E6E7E8; background: #5C6C7D; position: relative; margin: 8px; }
      .status { position: absolute; top:0; bottom: 0; left:0; right:0; white-space:nowrap; overflow:hidden; tex-align:left; }
      .paused, .aborted, .errored, .failed, .succeeded { display:inline-block;height:120px;margin:0;padding:0;float:left; }
      .paused { background: #3498DB; }
      .aborted { background: #8F4B2D; }
      .errored { background: #E67E21; }
      .failed { background: #E74C3C; }
      .succeeded { background: #2ECC71; }
      .inner { position: absolute; top:0; bottom: 0; left:0; right:0; text-align: center; text-decoration: none; white-space: nowrap; overflow: hidden;}
      .inner { display: flex; justify-content: center; flex-direction: column; height: 120px; }
      .running .inner { height: 100px; }
       @-webkit-keyframes pulseBorder {
           from { outline-offset: 0; }
             to { outline-offset: 7px; }
       }
       .running {
         -webkit-animation-name: pulseBorder;
         -webkit-animation-iteration-count: infinite;
         -webkit-animation-timing-function: ease;
         -webkit-animation-direction: alternate;
         -webkit-animation-duration: 0.5s;
         outline: solid 7px #F2C500;
         outline-offset: 0;
       }
    </style>
  </head>
  <body>
    <%= content %>
  </body>
</html>
